<header class="header">
    <mat-toolbar color="primary">
        <span>Kartvizit App</span>
        <span class="example-spacer"></span>
        <!--    (click)="toggleTheme()"-->
        <mat-slide-toggle (change)="onDarkModeSwitched($event)">Theme</mat-slide-toggle>
        <span class="example-spacer"></span>
        <ul class="header-menu">
            <li>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Anasayfa</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">Hakkımızda</a>
            </li>
            <li>
                <a routerLink="/cards" routerLinkActive="active">Kartvizitler</a>
            </li>
        </ul>
    </mat-toolbar>
</header>
